Repository sarvsav/go-starter-template, changes with the labels that .github/labeler.yml gives for each.
All labels: automation, wiki, scripts

.github/labeler.yml:

automation:
  - changed-files:
      - any-glob-to-any-file:
          - .github/**

wiki:
  - changed-files:
      - any-glob-to-any-file:
          - wiki/**

scripts:
  - changed-files:
      - any-glob-to-any-file:
          - scripts/**

Added gitleaks as an action
  .github/workflows/gitleaks.yml
Labels: automation

Updated multiple github action
  .github/reviewers.yml
  .github/workflows/auto_request_review.yml
  .github/workflows/goreleaser.yml
  .github/workflows/govulncheck.yml
  .github/workflows/greetings.yml
  .github/workflows/semantic-pull-request.yml
  .github/workflows/stale-issue.yml
  .gitignore
  .goreleaser.yaml
  Makefile
  go.mod
  main.go
  main_test.go
Labels: automation

Added github token for access
  .github/workflows/semantic-pull-request.yml
Labels: automation

Added bot as a label to renovate
  renovate.json
Labels: none

Updated readme
  README.md
Labels: none

Added installation script
  scripts/shell/main.bash
Labels: scripts

Added logo and updated readme URLS
  README.md
  assets/logo-go-starter.png
Labels: none

Updated transparent logo
  assets/logo-go-starter.png
Labels: none

updated text
  README.md
Labels: none

Introduced bazel to the project
  .bazelrc
  .gitignore
  BUILD.bazel
  MODULE.bazel
  WORKSPACE
  scripts/shell/install.sh
  scripts/shell/main.bash
Labels: scripts

Added proto files
  .gitignore
  Makefile
  proto/google/api/annotations.proto
  proto/google/api/field_behavior.proto
  proto/google/api/http.proto
  proto/google/type/datetime.proto
  proto/greet/v1/greeting.proto
  scripts/shell/install.sh
  scripts/shell/lint-proto.sh
Labels: scripts

Added contributors to the readme
  CONTRIBUTING.md
  README.md
Labels: none

Added bazel and protobuf dependencies Why: To build protobuffers How: Using bazel, protoc Tags: [bazel, protoc]
  .bazeliskrc
  .bazelrc
  .bazelversion
  .editorconfig
  .gitignore
  BUILD.bazel
  MODULE.bazel
  MODULE.bazel.lock
  Makefile
  gen/.keep
  proto/greet/v1/BUILD.bazel
  proto/greet/v1/greeting.proto
  scripts/shell/gen-protobuffer.sh
  scripts/shell/install.sh
Labels: scripts

updated permissions for github action Why: to access resources How: by updating permission Tags: [semantic pr]
  .github/workflows/semantic-pull-request.yml
Labels: automation

removed linkedin
  README.md
Labels: none

updated golang logo
  README.md
Labels: none

chore: Update golang logo and remove LinkedIn badge
  README.md
Labels: none

ignored docusaurus folders
  .gitignore
Labels: none

updated product logo and links
  README.md
  assets/go-starter-template.png
Labels: none

updated description
  README.md
Labels: none

added Adopters
  ADOPTERS.md
  README.md
Labels: none

updated golang logo
  README.md
Labels: none

removed linkedin
  README.md
Labels: none

updated description
  README.md
Labels: none

added docusaurus actions
  .github/workflows/deploy-docusaurus.yml
  .github/workflows/test-docusaurus.yml
  .gitignore
Labels: automation

added Adopters
  ADOPTERS.md
  README.md
Labels: none

chore: Update golang logo and remove LinkedIn badge
  README.md
Labels: none

ignored docusaurus folders
  .gitignore
Labels: none

updated product logo and links
  README.md
  assets/go-starter-template.png
Labels: none

updated actions
  .github/workflows/deploy-docusaurus.yml
  .github/workflows/test-docusaurus.yml
Labels: automation

Added workflow dispatch to build website
  .github/workflows/deploy-docusaurus.yml
  .github/workflows/test-docusaurus.yml
Labels: automation

Update deploy-docusaurus.yml
  .github/workflows/deploy-docusaurus.yml
Labels: automation

Updated the default directory to docs
  .github/workflows/deploy-docusaurus.yml
Labels: automation

Added dependency path
  .github/workflows/deploy-docusaurus.yml
Labels: automation

Fixed path for build website
  .github/workflows/deploy-docusaurus.yml
Labels: automation

Fixed docusaurus baseURL
  docs/docusaurus.config.ts
Labels: none

Updated title and tagline
  docs/docs/tutorial-basics/create-a-page.md
  docs/docusaurus.config.ts
Labels: none

updated web
  README.md
  docs/docs/tutorial-basics/markdown-features.mdx
  docs/static/img/docusaurus.png
  docs/static/img/favicon.ico
  docs/static/img/go-starter-template.png
  docs/static/img/logo.svg
Labels: none

Added action for collecting repo stats
  .github/workflows/repo-stats-collector.yml
Labels: automation

fix: docusaurus test deployment
  .github/workflows/test-docusaurus.yml
Labels: automation
